.loggingOut {
    button{
    margin-left: 24px;
    font-size: 20px;
    background: #cfcfcf;
    color: white;
    padding: 0px 12px;
    }
    button:hover{
        background: #ffa800;
        color: white;
    }
}
